[user]
	name = yassh
	email = yassh32@outlook.jp
[core]
	autocrlf = false
	excludesfile = ~/.gitignore_global
	editor = vim
	precomposeunicode = true
[color]
	ui = true
[alias]
	addall = add -A :/
[help]
	autocorrect = 1
[http]
	sslVerify = false
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[include]
	path = .gitconfig_local
[push]
	default = simple
[diff]
	tool = bc3
[difftool]
	bc3 = trustExitCode
[merge]
	tool = bc3
[mergetool]
	bc3 = trustExitCode
[difftool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\"
	path = -ro
[mergetool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true
