[user]
	useConfigOnly = true
[core]
	autocrlf = false
	excludesfile = ~/.gitignore_global
	precomposeunicode = true
[color]
	ui = true
[alias]
	addall = add -A :/
[help]
	autocorrect = 1
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[include]
	path = .gitconfig_local
[push]
	default = simple
[diff]
	tool = bc3
[difftool "bc3"]
	trustExitCode = true
[merge]
	tool = bc3
[mergetool "bc3"]
	trustExitCode = true
[hub]
	protocol = https
[pull]
	rebase = false
