[submodule "z"]
	path = z
	url = https://github.com/rupa/z.git
[submodule "docs"]
	path = docs
	url = https://github.com/yassh/docs.git
[submodule "hello"]
	path = hello
	url = https://github.com/yassh/hello.git
[submodule "data"]
	path = data
	url = https://github.com/yassh/data.git
[submodule "misc"]
	path = misc
	url = https://github.com/yassh/misc.git
